<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-color: antiquewhite;
        }

        .block {
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 175px;
            width: 750px;
            border-radius: 30px;
            border-color: rgb(17, 150, 150);
            border-width: 2px;
            border-style: solid;
        }

        .grim {
            background-color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 225px;
            width: 775px;
            border-radius: 30px;
            border-color: rgb(17, 150, 150);
            border-width: 2px;
            border-style: solid;
        }

        .gap {
            width: 50px;
            height: 5px;
        }

        .ip {
            margin-right: 20px;
            margin-bottom: 20px;
        }

        #fonty {
            font-size: large;
            font-weight: 500;
        }

        .show {
            display: grid;
            font-size: large;
            font-weight: 500;
            margin: 20px;
            display: inline;
        }

        .fir {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 800px;
        }

        #subbtn {
            margin-left: 160px;
        }
    </style>
    <% sales.forEach(wholesale=> { %>
        <div class="grim">
            <div class="show">Buyer :- <%=wholesale.buy_name%>
            </div>
            <div class="show">Crop :- <%=wholesale.crop%>
            </div>
            <div class="show">Weight :- <%=wholesale.weight%>
            </div>
            <div class="show">Price :- <%=wholesale.price%>
            </div>
        </div>
        <% }) %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>