<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Add Farm</div>
    <form method = 'post' action="/home/farms">
        <input placeholder="farm_id" name = "id" type = "text"/>
        <input placeholder="farm name" name = "name" type = "text"/>
        <input placeholder="farm area" name = "area" type = "text"/>
        <input placeholder="soil type" name = "soil" type = "text"/>
        <input placeholder="annual rainfall" name = "rainfall" type = "text"/>
        <input placeholder="current crop" name = "crop" type = "text"/>
        <input type="submit" value="Log in" class = "button"/>
    </form>
</body>
</html>