<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button name='field' id = "red_b">Change User</button>
    <script>
        document.getElementById('red_b').addEventListener('click', function() {
        window.location.href = 'http://localhost:8009/login';
    });
    </script>
</body>

</html>