<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button name='field' id = "change_b">Change User</button>
    <button name='field' id = "Farm_b">My farms</button>
    <script>
        document.getElementById('change_b').addEventListener('click', function() {
        window.location.href = 'http://localhost:8009/login';});
        document.getElementById('Farm_b').addEventListener('click', function() {
        window.location.href = 'http://localhost:8009/home/farms';});
    </script>
</body>

</html>