<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href = "login.css">
    <title>Document</title>
</head>
<body>
    <form method = "POST" action = "/login">
        <label>User Login</label>
        <input placeholder="Username" name = "uname" type = "text"/>
        <input placeholder="Password" name = "pass" type = "text"/>
        <input placeholder="email" name = "email" type = "text"/>
        <button type = 'submit'>Generate</button>
    </form>
    <style>
        
    </style>
</body>
</html>